.game-card-container {
  display: flex;
  padding: 10px 0 20px 0;
  border-top: 1px solid black;

  .icon {
    margin: 5px 5px 5px 0;
    width: 160px;
    height: 160px;
  }

  .description-container {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
      margin: 5px 0 5px 20px;
    }

    .description {
      margin: 5px 0 25px 20px;
    }
    .btn-container {
      display: flex;
      justify-content: flex-end;

      .btn {
        width: 300px;
        padding: 5px;
      }
    }
  }
}
